.env
BotFolder/__pycache__
BotFolder/__pycache__/__main__.cpython-312.pyc
BotFolder/Classes/__pycache__/log.cpython-312.pyc
BotFolder/Classes/Data/credentials.json
BotFolder/Classes/Data/RankData.json
Emperor/credentials.json
.vscode
xp.db
BotFolder/datapass.py
Emperor\Classes\__pycache__
Emperor\Plugins\__pycache__
Emperor/__pycache__
Emperor/__pycache__/__init__.cpython-312.pyc
Emperor/__pycache__/__main__.cpython-312.pyc
Emperor/Classes/__pycache__/firebase.cpython-312.pyc
Emperor/Classes/__pycache__/group.cpython-312.pyc
Emperor/Classes/__pycache__/guild.cpython-312.pyc
Emperor/Classes/__pycache__/user.cpython-312.pyc
Emperor/Plugins/__pycache__/groupmanagement.cpython-312.pyc
Emperor/Plugins/__pycache__/verification.cpython-312.pyc
Emperor/Plugins/__pycache__/xp.cpython-312.pyc
Emperor/RankData.json
Emperor\Plugins\__pycache__\apprenticesystem.cpython-312.pyc
