.env
BotFolder/__pycache__
BotFolder/__pycache__/__main__.cpython-312.pyc
BotFolder/Classes/__pycache__/log.cpython-312.pyc
BotFolder/Classes/Data/credentials.json
BotFolder/Classes/Data/RankData.json
Emperor/credentials.json
